mixin advantage()
  section.advantage
    .advantage__wrapper
      .advantage__description
        .advantage__info
          .advantage__title
            h2.title.title--2 Преимущества
          .advantage__name
            p нашей краски
        ul.advantage__list
          li.advantage__item
            p Экономичный расход краски
          li.advantage__item
            p Быстрота нанесения и полимеризации
          li.advantage__item
            p Экологичность
          li.advantage__item
            p Высокая износостойкость покрытия
          li.advantage__item
            p Оптимальный вес упаковки
      .advantage__picture
        .advantage__cicle
          p 20
          span кг
        +img("content", "img-boxviza", "png", 473, 499, "Коробок раски")
