mixin invoice()
  section.invoice
    .invoice__wrapper
      .invoice__info
        .invoice__caption
          .invoice__title
            h2.title.title--2 Фактуры
          .invoice__name
            p чёрной порошковой краски RAL9005
        .invoice__billet
          img(src="./img/sprite/icon-tick.svg", widht="23", height="24", alt="Галка")
          p всегда в наличии
