mixin invoice()
  section.invoice
    .invoice__wrapper
      .invoice__info
        .invoice__caption
          .invoice__title
            h2.title.title--2 Фактуры
          .invoice__name
            p чёрной порошковой краски RAL9005
        .invoice__billet
          img(src="./img/sprite/icon-tick.svg", widht="23", height="24", alt="Галка")
          p всегда в наличии
      .invoice__submit
        +btn({text: "Заказать черную краску", type: "buttom"}).invoice__submit-btn(data-open-modal="next")
