mixin  laboratory-test()
  section.laboratory-test
    .laboratory-test__wrapper
      .laboratory-test__info
        .laboratory-test__title
          h2.title.title--2 Лабораторные испытания
        .laboratory-test__name
          p порошковой краски
        .laboratory-test__description
          p Лабораторные испытания гарантируют высокое качество, надежность нашей продукции и соответствие современным стандартам. Каждая партия порошковой краски проходит тщательную проверку, чтобы подтвердить стабильность её характеристик.
    .laboratory-test__list
      .laboratory-test__card.laboratory-test__card-left
        .laboratory-test__picture
          +img("content", "img-laboratory1", "png", 912, 542, "Картинка")
        .laboratory-test__content
          .laboratory-test__caption
            .laboratory-test__term
              p Измерение блеска
            .laboratory-test__number
              p 1
          .laboratory-test__text
            p Оценка уровня блеска и непрозрачности в процентах
      .laboratory-test__card.laboratory-test__card-right
        .laboratory-test__picture
          +img("content", "img-laboratory2", "png", 912, 542, "Картинка")
        .laboratory-test__content
          .laboratory-test__caption
            .laboratory-test__term
              p Толщина покрытия
            .laboratory-test__number
              p 2
          .laboratory-test__text
            p Определяется толщина покрытия в микронах
      .laboratory-test__card.laboratory-test__card-left
        .laboratory-test__picture
          +img("content", "img-laboratory3", "png", 912, 542, "Картинка")
        .laboratory-test__content
          .laboratory-test__caption
            .laboratory-test__term
              p Стойкость к удару
            .laboratory-test__number
              p 3
          .laboratory-test__text
            p Определяет устойчивость покрытий к воздействию быстрой деформации (удару)
      .laboratory-test__card.laboratory-test__card-right
        .laboratory-test__picture
          +img("content", "img-laboratory4", "png", 912, 542, "Картинка")
        .laboratory-test__content
          .laboratory-test__caption
            .laboratory-test__term
              p Тест на адгезию
            .laboratory-test__number
              p 4
          .laboratory-test__text
            p Определение прочности сцепления покрытий с поверхностью детали
