mixin laboratory()
  section.laboratory
    .container
      .laboratory__wrapper
        .laboratory__caption
          .laboratory__title
            h2.title.title--1 Лаборатория
          .laboratory__name
            p Наша лаборатория занимается разработкой, совершенствованием и адаптацией рецептур порошковой краски под конкретные задачи и требования клиентов. Мы уделяем особое внимание качеству и надежности, тестируя краски в условиях, максимально приближенных к реальной эксплуатации.
          .laboratory__description
            p Каждая партия порошковой краски проходит строгий контроль физических и механических характеристик покрытия. Такой подход позволяет нам поддерживать стабильность качественных показателей продукции, гарантируя её соответствие высоким стандартам. Мы уверены в надёжности каждой выпускаемой партии и её способности успешно справляться с задачами в условиях эксплуатации
