mixin laboratory-document()
  section.laboratory-document
    .container
      .laboratory-document__wrapper
        .laboratory-document__title
          h2.visually-hidden Документация
        .laboratory-document__description
          .laboratory-document__text
            p Лаборатория организует отбор арбитражных проб и их нормативное хранение. Этот процесс обеспечивает прозрачность и позволяет оперативно решать любые вопросы, связанные с качеством продукции
          .laboratory-document__caption
            p Мы предоставляем всю необходимую документацию, подтверждающую качество и соответствие нашей продукции современным требованиям и стандартам.
        .laboratory-document__list
          .laboratory-document__item
            .laboratory-document__icon
              img(src="./img/svg/document.svg", widht="145", height="145", alt="Документ")
            .laboratory-document__link
              a(href="#") Свидетельство на полиэфирную краску
          .laboratory-document__item
            .laboratory-document__icon
              img(src="./img/svg/document.svg", widht="145", height="145", alt="Документ")
            .laboratory-document__link
              a(href="#") Экспертное заключение на полиэфирную краску
          .laboratory-document__item
            .laboratory-document__icon
              img(src="./img/svg/document.svg", widht="145", height="145", alt="Документ")
            .laboratory-document__link
              a(href="#") ТУ на полиэфирную краску
          .laboratory-document__item
            .laboratory-document__icon
              img(src="./img/svg/document.svg", widht="145", height="145", alt="Документ")
            .laboratory-document__link
              a(href="#") Технический паспорт на полиэфирную краску




