mixin laboratory-document()
  section.laboratory-document
    .container
      .laboratory-document__wrapper
        .laboratory-document__title
          h2.visually-hidden Документация
        .laboratory-document__description
          .laboratory-document__text
            p Лаборатория организует отбор арбитражных проб и их нормативное хранение. Этот процесс обеспечивает прозрачность и позволяет оперативно решать любые вопросы, связанные с качеством продукции
          .laboratory-document__caption
            p Мы предоставляем всю необходимую документацию, подтверждающую качество и соответствие нашей продукции современным требованиям и стандартам.
