mixin production()
  section.production
    .container
      .production__wrapper
        .production__caption
          .production__title
            h2.title.title--1 Производство
        .production__name
          p Мы обеспечиваем полный производственный цикл порошковой краски с применением современных технологий и строгим контролем на каждом этапе. Это позволяет нам гарантировать стабильное качество продукции, соответствующее высоким требованиям наших клиентов.
        .production__description
          p Постоянно развивая производство, мы запускаем новые линии для расширения ассортимента. В 2023 году началось производство черной краски (RAL 9005). В 2025 году запланирован запуск линии  производства палитры серых красок. Мы готовы выпускать продукцию, полностью соответствующую индивидуальным требованиям клиента.
      +stages()
