mixin purpose()
  section.purpose
    .purpose__wrapper
      .purpose__info
        .purpose__title
          h2.title.title--2 Сферы применения
        .purpose__name
          p порошковой краски
      .purpose__list
        .purpose__item.purpose__item--detalis
          .purpose__img.purpose__img--detalis
            img(src="img/svg/details.svg", width="125", height="125", alt="Детали")
          .purpose__text
            p Автомобилестроение — детали, диски, узлы
        .purpose__item.purpose__item--hardware
          .purpose__img.purpose__img--hardware
            img(src="img/svg/hardware.svg", width="125", height="125", alt="фурнитура")
          .purpose__text
            p Двери и фурнитура
        .purpose__item.purpose__item--technic
          .purpose__img.purpose__img--technic
            img(src="img/svg/technic.svg", width="125", height="125", alt="техника")
          .purpose__text
            p Бытовая и отопительная техника
        .purpose__item.purpose__item--agricultural
          .purpose__img.purpose__img--agricultural
            img(src="img/svg/agricultural.svg", width="125", height="125", alt="сельхозтехника")
          .purpose__text
            p Садовая и сельхозтехника
        .purpose__item.purpose__item--industry
          .purpose__img.purpose__img--industry
            img(src="img/svg/industry.svg", width="125", height="125", alt="промышленность")
          .purpose__text
            p Электротехническая промышленность

