mixin stages()
  section.stages
    .stages__wrapper
      .stages__info
        .stages__title
          h2.title.title--2 Этапы
        .stages__name
          p производства краски
      ul.stages__list
        li.stages__item
          p Дозирование и предварительное смешивание исходных компонентов
        li.stages__item
          p Экструзия (гомогенизация)
        li.stages__item
          p Каландрование
        li.stages__item
          p Сепарация
        li.stages__item
          p Фасовка и контроль качества готовой продукции
