.advantage {
  &::before {
    position: absolute;
    content: "";
    width: 1700px;
    height: 1470px;
    top: 350px;
    right: 0;
    background-image: url("../img/content/spot-product-2-2560.jpg");
    background-repeat: no-repeat;
    mix-blend-mode:multiply;
    z-index: -4;

    @include vp-1921 {
      width: 1423px;
      background-image: url("../img/content/spot-product-2-1920.jpg");
    }

    @include vp-1439 {
      width: 1160px;
      top: 116px;
      background-image: url("../img/content/spot-product-2-1440.jpg");
    }

    @include vp-769 {
      max-width: 768px;
      width: 100%;
      top: 278px;
      background-image: url("../img/content/spot-product-2-768.jpg");
    }

    @include vp-599 {
      max-width: 360px;
      width: 100%;
      height: 950px;
      top: 732px;
      background-image: url("../img/content/spot-product-2-360.jpg");
    }
  }

  &__wrapper {
    display: flex;
    margin-bottom: 60px;

    @include vp-1439 {
      margin-bottom: 88px;
    }

    @include vp-599 {
      flex-direction: column;
      row-gap: 24px;
      margin-bottom: 65px;
    }
  }

  &__description {
    flex: 0 1 50%;
  }

  &__picture {
    display: flex;
    align-items: center;
    flex: 0 1 50%;

    margin-top: -22px;
    margin-right: 20px;

    @include vp-1439 {
      margin-top: -13px;
      margin-right: 0;
      justify-content: end;
    }

    @include vp-1023 {
      justify-content: center;
    }

    @include vp-599 {
      margin-right: 13px;
      margin-top: 0;
      flex: 100%;
      justify-content: flex-end;
    }

    img {
      @include vp-1439 {
        width: 384px;
      }

      @include vp-1023 {
        width: 320px;
      }

      @include vp-769 {
        width: 251px;
      }

      @include vp-599 {
        width: 251px;
      }
    }
  }

  &__cicle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;
    gap: 5px;
    border-radius: 1000px;
    width: 160px;
    height: 160px;
    transform: translateX(60px);
    background: linear-gradient(99deg, #336eed 0%, #12326f 64.77%, #6249d6 100%);

    @include vp-1439 {
      width: 145px;
      height: 145px;
    }

    @include vp-769 {
      width: 90px;
      height: 90px;
      transform: translateX(30px);
    }

    @include vp-599 {
      width: 90px;
      height: 90px;
      transform: translateX(30px);
    }

    p {
      font-weight: 900;
      font-size: 60px;
      font-family: $ff-roboto;
      line-height: 117%;
      color: #ffffff;

      @include vp-1439 {
        font-size: 54px;
      }

      @include vp-769 {
        font-size: 36px;
        line-height: 128px;
      }

      @include vp-599 {
        font-size: 36px;
        line-height: 128px;
      }
    }

    span {
      font-weight: 900;
      font-size: 36px;
      line-height: 128%;
      font-family: $ff-roboto;
      color: #ffffff;

      @include vp-1439 {
        font-size: 30px;
      }

      @include vp-769 {
        font-size: 24px;
        line-height: 142%;
      }

      @include vp-599 {
        font-size: 24px;
        line-height: 142%;
      }
    }
  }

  &__name {
    p {
      font-size: 52px;
      font-family: $ff-roboto-1;
      font-weight: 300;
      line-height: 115%;
      margin: 0;

      color: $color-dark-blue;

      @include vp-1439 {
        font-size: 40px;
      }

      @include vp-769 {
        font-size: 32px;
      }

      @include vp-599 {
        font-size: 28px;
        line-height: 140%;
      }
    }
  }

  &__info {
    margin-bottom: 48px;

    @include vp-1439 {
      margin-bottom: 44px;
    }

    @include vp-599 {
      margin-bottom: 38px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    margin-left: 96px;

    @include vp-1439 {
      margin-left: 42px;
    }

    @include vp-599 {
      margin-left: 24px;
    }
  }

  &__item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 21px;

    @include vp-1439 {
      margin-bottom: 17px;
    }

    @include vp-599 {
      padding-left: 24px;
      margin-bottom: 16px;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 14px;
      width: 15px;
      height: 2px;
      background-color: $color-blue-blue;

      @include vp-1439 {
        top: 13px;
      }

      @include vp-599 {
        top: 12px;
        height: 2px;
      }
    }

    p {
      font-size: 22px;
      font-weight: 300;
      font-family: $ff-roboto-1;
      line-height: 145%;

      margin: 0;

      color: $color-dark-blue;

      @include vp-1439 {
        font-size: 20px;
      }

      @include vp-599 {
        font-size: 16px;
        line-height: 162%;
      }
    }
  }
}
