.callback-form {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 64px;
  padding: 56px 96px 80px 96px;
  max-width: 672px;
  min-height: 810px;

  &__caption {
    margin-bottom: 22px;

    p {
      font-family: $ff-roboto-1;
      font-weight: 900;
      font-size: 36px;
      margin: 0;


      line-height: 117%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      background: linear-gradient(99deg, #336eed 0%, #12326f 64.77%, #6249d6 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    max-width: 348px;
    margin: 0 auto;
    margin-bottom: 26px;

    p {
      font-family: $ff-roboto-1;
      font-weight: 400;
      font-size: 20px;
      margin: 0;

      /* line-height: 30px; */
      line-height: 150%;
      text-align: center;
      color: #163557;
    }
  }

  &__item {
    margin-bottom: 18px;
  }

  &__name {
    p {
      font-family: $ff-roboto-1;
      font-weight: 300;
      font-size: 16px;
      margin: 0;

      line-height: 125%;
      color: #163557;
    }
  }

  &__submit {
    margin-top: 60px;
    margin-bottom: 14px;
  }

  &__btn.btn {
    width: 100%;
    font-size: 21px;

    box-shadow: transparent;
    transition: box-shadow $trans-default;


    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        box-shadow: 0 4px 130px 0 rgba(60, 62, 165, 0.4), 0 4px 100px 0 rgba(60, 62, 165, 0.25), 0 4px 50px 0 rgba(60, 62, 165, 0.25), 0 4px 30px 0 rgba(60, 62, 165, 0.25);
      }
    }
  }
}
