.certificate {
  max-width: 337px;

  @include vp-599 {
    width: 281px;
  }

  @include vp-361 {
    margin: 0 auto;
  }

  &__description-link {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 137%;
    text-align: center;
    font-family: $ff-roboto-1;
    color: $color-default-white;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin: 0;

    @include vp-599 {
      font-size: 14px;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {


        &__description-link {
          text-decoration: none;
        }
      }
    }
  }

  &__copyright {
    p {
      font-size: 14px;
      font-weight: 400;
      font-family: $ff-roboto-1;
      line-height: 143%;
      color: $color-default-white;

      margin: 0;

      @include vp-599 {
        font-size: 12px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 65px;
    margin-bottom: 41px;

    @include vp-769 {
      margin-bottom: 40px;
    }

    @include vp-599 {
      gap: 16px;
      margin-bottom: 27px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description-box {
    display: flex;
    align-items: flex-end;
  }

  &__description-img {
    margin-bottom: 2px;
    margin-right: 30px;

    @include vp-599 {
      margin-right: 42px;
    }

    &--iso {
      img {
        @include vp-599 {
          width: 50px;
          height: 50px;
        }
      }
    }

    &--iatf {
      img {
        @include vp-599 {
          width: 75px;
          height: 50px;
        }
      }
    }
  }

  &__description-icon {
    margin-left: 5px;
    flex-shrink: 0;
    padding-bottom: 4px;
  }
}
