.info {
  position: relative;

  &__title {
    margin-bottom: 66px;

    @include vp-1439 {
      margin-bottom: 61px;
    }

    p {
      font-weight: 300;
      font-size: 72px;
      font-family: $ff-roboto-1;


      line-height: 121%;
      color: #ffffff;
      margin: 0;

      @include vp-1439 {
        font-size: 59px;
        line-height: 142%;
      }

      @include vp-767 {
        font-size: 40px;
        line-height: 125%;
      }

      @include vp-359 {
        font-size: 25px;
        line-height: 140%;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    padding-top: 163px;

    @include vp-1439 {
      padding-top: 129px;
      padding-left: 43px;
      row-gap: 7px;
    }

    @include vp-767 {
      row-gap: 241px;
    }
  }

  &__certificate {
    align-self: flex-end;
  }

  &__list {
    list-style: none;
    margin: 0;
    margin-left: 48px;
    padding: 0;
  }

  &__item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 3px;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 21px;
      width: 15px;
      height: 3px;
      background-color: #ffffff;

      @include vp-1439 {
        top: 19px;
      }
    }

    p {
      font-family: $ff-roboto;
      font-weight: 300;
      font-size: 36px;
      margin: 0;

      line-height: 128%;
      color: #ffffff;

      @include vp-1439 {
        font-size: 30px;
        line-height: 133%;
      }

      @include vp-767 {
        font-size: 28px;
        line-height: 136%;
      }

      @include vp-359 {
        font-size: 20px;
        line-height: 150%;
      }
    }
  }
}
