.laboratory-document {
  background: linear-gradient(315deg, rgba(0, 53, 228, 0.3) 0%, rgba(153, 0, 224, 0.3) 20.63%, rgba(0, 167, 255, 0.3) 100%);

  &__wrapper {
    padding-top: 120px;
    padding-bottom: 150px;
  }

  &__text {
    margin-bottom: 56px;
    padding-left: 96px;

    p {
      font-family: $ff-roboto-1;
      font-weight: 300;
      font-size: 22px;

      line-height: 145%;
      color: #163557;
      margin: 0;
    }
  }

  &__caption {
    max-width: 1248px;

    p {
      font-family: $ff-roboto-1;
      font-weight: 400;
      font-size: 40px;

      line-height: 125%;
      color: #163557;
      margin: 0;
    }
  }
}
