.laboratory {
  &__wrapper {
    margin-bottom: 120px;

    @include vp-769 {
      margin-bottom: 96px;
    }

    @include vp-599 {
      margin-bottom: 64px;
    }
  }

  &__title {
    margin-bottom: 56px;

    @include vp-1439 {
      margin-bottom: 60px;
    }

    @include vp-769 {
      margin-bottom: 57px;
    }

    @include vp-599 {
      margin-bottom: 40px;
    }
  }

  &__name {
    max-width: 1248px;
    margin-bottom: 40px;

    @include vp-1439 {
      max-width: 960px;
    }

    p {
      font-family: $ff-roboto-1;
      font-size: 36px;
      font-weight: 300;
      line-height: 133%;
      margin: 0;

      color: $color-dark-blue;

      @include vp-1439 {
        font-size: 28px;
        line-height: 140%;
      }

      @include vp-769 {
        font-size: 24px;
        line-height: 150%;
      }

      @include vp-599 {
        font-size: 20px;
        line-height: 160%;
      }
    }
  }

  &__description {
    margin-left: 96px;
    max-width: 1248px;

    @include vp-1439 {
      max-width: 960px;
    }

    @include vp-599 {
      margin-left: 0;
    }

    p {
      font-size: 22px;
      font-weight: 300;
      font-family: $ff-roboto-1;
      line-height: 145%;

      color: $color-dark-blue;
      margin: 0;

      @include vp-1439 {
        font-size: 20px;
        line-height: 152%;
      }

      @include vp-769 {
        font-size: 18px;
        line-height: 157%;
      }

      @include vp-599 {
        font-size: 16px;
        line-height: 162%;
      }
    }
  }
}
