.laboratory-document {
  background: linear-gradient(315deg, rgba(0, 53, 228, 0.3) 0%, rgba(153, 0, 224, 0.3) 20.63%, rgba(0, 167, 255, 0.3) 100%);

  &__wrapper {
    padding-top: 120px;
    padding-bottom: 150px;

    @include vp-769 {
      padding-top: 80px;
      padding-bottom: 120px;
    }

    @include vp-599 {
      padding-top: 64px;
      padding-bottom: 80px;
    }
  }

  &__text {
    margin-bottom: 56px;
    padding-left: 96px;

    @include vp-599 {
      padding-left: 0;
      margin-bottom: 40px;
    }

    p {
      font-family: $ff-roboto-1;
      font-weight: 300;
      font-size: 22px;

      line-height: 145%;
      color: #163557;
      margin: 0;

      @include vp-1439 {
        font-size: 20px;
        line-height: 150%;
      }

      @include vp-769 {
        line-height: 156%;
        font-size: 18px;
      }

      @include vp-599 {
        font-size: 16px;
        line-height: 162%;
      }
    }
  }

  &__caption {
    max-width: 1248px;

    p {
      font-family: $ff-roboto-1;
      font-weight: 400;
      font-size: 40px;

      line-height: 125%;
      color: #163557;
      margin: 0;

      @include vp-1439 {
        font-size: 32px;
        line-height: 131%;
      }

      @include vp-769 {
        font-size: 28px;
        line-height: 136%;
      }

      @include vp-599 {
        font-size: 22px;
        line-height: 155%;
      }
    }
  }

  &__description {
    margin-bottom: 64px;

    @include vp-599 {
      margin-bottom: 32px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 122px;
    row-gap: 40px;
    max-width: 1249px;
    min-height: 188px;

    @include vp-1699 {
      max-width: 1056px;
      column-gap: 90px;
      justify-content: center;
    }

    @include vp-769 {
      max-width: 672px;
      column-gap: 20px;
    }

    @include vp-599 {
      row-gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 220px;

    @include vp-1699 {
      max-width: 195px;
    }

    @include vp-769 {
      max-width: 148px;
      min-height: 190px;
    }
  }

  &__link {
    a {
      display: block;
      font-family: $ff-roboto-1;
      font-weight: 400;
      font-size: 18px;
      text-align: center;

      line-height: 133%;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      transition: text-decoration $trans-1200;
      text-align: center;
      color: #163557;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      @include vp-1699 {
        font-size: 16px;
        line-height: 137%;
      }

      @include vp-769 {
        font-size: 14px;
        line-height: 143%;
      }
    }
  }

  &__icon {
    img {
      @include vp-769 {
        width: 130px;
        height: 130px;
      }
    }
  }
}
