.our-product {
  position: relative;
  overflow: hidden;

  &__wrapper {
    padding-top: 159px;

    @include vp-769 {
      padding-top: 144px;
    }

    @include vp-599 {
      padding-top: 81px;
    }
  }

  &__caption {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 49px;
    row-gap: 20px;
    margin-bottom: 56px;

    &::before {
      position: absolute;
      content: "";
      width: 1660px;
      height: 1220px;
      left: 0;
      top: -380px;
      background-image: url("../img/content/spot-product-1.jpg");
      background-repeat: no-repeat;
      z-index: -5;
      mix-blend-mode:multiply;

      @include vp-1921 {
        width: 1124px;
        top: -380px;
        background-image: url("../img/content/spot-product-1-1920.jpg");
      }

      @include vp-1439 {
        width: 832px;
        top: -392px;
        background-image: url("../img/content/spot-product-1lx.jpg");
      }

      @include vp-769 {
        width: 768px;
        top: -576px;
        background-image: url("../img/content/spot-product-1-768.jpg");
      }

      @include vp-599 {
        width: 360px;
        height: 510px;
        top: -200px;
        background-image: url("../img/content/spot-product-1mx.jpg");
      }
    }

    @include vp-1439 {
      column-gap: 33px;
    }

    @include vp-769 {
      row-gap: 15px;
    }

    @include vp-599 {
      row-gap: 7px;
      margin-bottom: 41px;
    }
  }

  &__name {
    max-width: 1248px;
    margin-bottom: 132px;

    @include vp-1439 {
      max-width: 960px;
      margin-bottom: 119px;
    }

    @include vp-769 {
      margin-bottom: 97px;
    }

    @include vp-599 {
      margin-bottom: 64px;
    }

    p {
      font-family: $ff-roboto-1;
      font-size: 36px;
      font-weight: 300;
      line-height: 133%;
      margin: 0;

      color: $color-dark-blue;

      @include vp-1439 {
        font-size: 28px;
        line-height: 143%;
      }

      @include vp-769 {
        font-size: 24px;
        line-height: 150%;
      }

      @include vp-599 {
        font-size: 20px;
        line-height: 160%;
      }
    }
  }

  &__img {
    @include vp-1439 {
      width: 414px;
    }

    @include vp-769 {
      width: 333px;
    }

    @include vp-599 {
      width: 204px;
    }
  }
}
