.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 192px;

  @include vp-1439 {
    padding: 0 96px;
  }

  @include vp-1299 {
    padding: 48px;
  }

  @include vp-1023 {
    padding: 0 48px;
  }

  @include vp-767 {
    padding: 0 48px;
  }

  @include vp-359 {
    padding: 0 12px;
  }
}
