// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2");
// }

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/robotocondensed-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/robotocondensed-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/robotocondensed-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/robotocondensed-extrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-extrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-black.woff") format("woff");
}
