// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-dark-blue:                   #163557;
$color-blue-blue:                   #0483C6;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

$ff-roboto:                          "Roboto Condensed", "Arial", sans-serif;

$ff-roboto-1:                          "Roboto", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-500:                         0.5s $tf-default;
$trans-600:                         0.6s $tf-default;
$trans-1200:                         1.2s $tf-default;

// Viewports
// ---------------------------------

$vp-325:                            325px;
$vp-360:                            360px;
$vp-450:                            450px;
$vp-530:                            530px;
$vp-580:                            580px;
$vp-640:                            640px;
$vp-690:                            690px;
$vp-768:                            768px;
$vp-900:                            900px;
$vp-1024:                           1024px;
$vp-1100:                           1100px;
$vp-1150:                           1150px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;
$vp-1300:                           1300px;
$vp-1440:                           1440px;
$vp-1480:                           1480px;
$vp-1540:                           1540px;
$vp-1560:                           1560px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------


$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
